Repository CommunityToolkit/Lottie-Windows, changes with the owners that .github/CODEOWNERS names for each.
All owners: @eliezerpMS, @simeoncran, @sohchatt, @scott-moore-ms

Add ability to get the type for a given CompositionPropertySet property name. (#236)
  source/Lottie/Instantiator.cs
  source/UIData/Tools/Canonicalizer.cs
  source/UIData/Tools/Optimizer.cs
  source/UIData/Tools/Stats.cs
  source/UIData/Tools/TreeReducer.cs
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
  source/WinCompData/CompositionPropertySet.cs
  source/WinCompData/MetaData/PropertySetValueType.cs
  source/WinCompData/Serialization/CompositionObjectXmlSerializer.cs
  source/WinCompData/WinCompData.projitems
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms, @sohchatt

CR feedback.
  source/LottieReader/Serialization/LottieCompositionReader.cs
  source/LottieToWinComp/LottieToWinCompTranslator.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Fix build break.
  source/LottieToWinComp/LottieToWinCompTranslator.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Add a type to represent Lottie "trim" (#238)
  source/LottieData/LottieData.projitems
  source/LottieData/Opacity.cs
  source/LottieData/Serialization/LottieCompositionXmlSerializer.cs
  source/LottieData/Serialization/LottieCompositionYamlSerializer.cs
  source/LottieData/Trim.cs
  source/LottieData/TrimPath.cs
  source/LottieReader/Serialization/LottieCompositionReader.cs
  source/LottieToWinComp/LottieToWinCompTranslator.cs
Owners: @eliezerpMS, @simeoncran, @sohchatt, @scott-moore-ms

CR feedback.
  source/UIDataCodeGen/CodeGen/NodeNamer.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

CR feedback.
  source/UIDataCodeGen/CodeGen/NodeNamer.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

CR feedback.
  source/UIDataCodeGen/CodeGen/NodeNamer.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Simplify node naming. (#234)
  source/LottieToWinComp/LottieToWinCompTranslator.cs
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
  source/UIDataCodeGen/CodeGen/NodeNamer.cs
  source/WinCompData/CompositionAnimation.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Begin parser refactor to allow switching to System.Text.Json.
  source/LottieReader/LottieReader.projitems
  source/LottieReader/Serialization/Animatables.cs
  source/LottieReader/Serialization/Assets.cs
  source/LottieReader/Serialization/Chars.cs
  source/LottieReader/Serialization/CheckedJsonArray.cs
  source/LottieReader/Serialization/CheckedJsonObject.cs
  source/LottieReader/Serialization/Enums.cs
  source/LottieReader/Serialization/Fonts.cs
  source/LottieReader/Serialization/JCArray.cs
  source/LottieReader/Serialization/JCObject.cs
  source/LottieReader/Serialization/JCObjectExtensions.cs
  source/LottieReader/Serialization/JTokenExtensions.cs
  source/LottieReader/Serialization/Layers.cs
  source/LottieReader/Serialization/LottieCompositionReader.cs
  source/LottieReader/Serialization/Primitives.cs
  source/LottieReader/Serialization/ShapeLayerContents.cs
Owners: @eliezerpMS, @simeoncran, @sohchatt, @scott-moore-ms

Begin parser refactor to allow switching to System.Text.Json. (#239)
  source/LottieReader/LottieReader.projitems
  source/LottieReader/Serialization/Animatables.cs
  source/LottieReader/Serialization/Assets.cs
  source/LottieReader/Serialization/Chars.cs
  source/LottieReader/Serialization/CheckedJsonArray.cs
  source/LottieReader/Serialization/CheckedJsonObject.cs
  source/LottieReader/Serialization/Enums.cs
  source/LottieReader/Serialization/Fonts.cs
  source/LottieReader/Serialization/JCArray.cs
  source/LottieReader/Serialization/JCObject.cs
  source/LottieReader/Serialization/JCObjectExtensions.cs
  source/LottieReader/Serialization/JTokenExtensions.cs
  source/LottieReader/Serialization/Layers.cs
  source/LottieReader/Serialization/LottieCompositionReader.cs
  source/LottieReader/Serialization/Primitives.cs
  source/LottieReader/Serialization/ShapeLayerContents.cs
Owners: @eliezerpMS, @simeoncran, @sohchatt, @scott-moore-ms

Finish plumbing of property binding info to codegen.
  source/LottieMetadata/LottieCompositionMetadata.cs
  source/LottieToWinComp/LottieToWinComp.projitems
  source/LottieToWinComp/LottieToWinCompTranslator.cs
  source/LottieToWinComp/PropertyBindings.cs
  source/UIDataCodeGen/CodeGen/IAnimatedVisualSourceInfo.cs
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
  source/UIDataCodeGen/CodeGen/LottieMetadataDecoder.cs
  source/UIDataCodeGen/CodeGen/SourceMetadata.cs
  source/UIDataCodeGen/UIDataCodeGen.projitems
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms, @sohchatt

Fix build break
  source/UIDataCodeGen/CodeGen/SourceMetadata.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Spelling.
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
  source/UIDataCodeGen/CodeGen/SourceMetadata.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Finish plumbing of property binding info to codegen. (#240)
  source/LottieMetadata/LottieCompositionMetadata.cs
  source/LottieToWinComp/LottieToWinComp.projitems
  source/LottieToWinComp/LottieToWinCompTranslator.cs
  source/LottieToWinComp/PropertyBindings.cs
  source/UIDataCodeGen/CodeGen/IAnimatedVisualSourceInfo.cs
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
  source/UIDataCodeGen/CodeGen/LottieMetadataDecoder.cs
  source/UIDataCodeGen/CodeGen/SourceMetadata.cs
  source/UIDataCodeGen/UIDataCodeGen.projitems
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms, @sohchatt

Add "Reader" struct to ease transition to System.Text.Json.
  source/LottieReader/LottieReader.projitems
  source/LottieReader/Serialization/Assets.cs
  source/LottieReader/Serialization/Chars.cs
  source/LottieReader/Serialization/EmptyList.cs
  source/LottieReader/Serialization/Exceptions.cs
  source/LottieReader/Serialization/Fonts.cs
  source/LottieReader/Serialization/JCObject.cs
  source/LottieReader/Serialization/JsonReader.cs
  source/LottieReader/Serialization/JsonToGenericData.cs
  source/LottieReader/Serialization/Layers.cs
  source/LottieReader/Serialization/LottieCompositionReader.cs
  source/LottieReader/Serialization/Markers.cs
  source/LottieReader/Serialization/Primitives.cs
  source/LottieReader/Serialization/Reader.cs
  source/LottieReader/Serialization/ShapeLayerContents.cs
Owners: @eliezerpMS, @simeoncran, @sohchatt, @scott-moore-ms

More complete support for fills and strokes in the YAML serializer.
  source/LottieData/Serialization/LottieCompositionYamlSerializer.cs
  source/YamlData/YamlScalar.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

CR feedback.
  source/LottieReader/LottieReader.projitems
  source/LottieReader/Serialization/JsonReader.cs
Owners: @eliezerpMS, @simeoncran, @sohchatt, @scott-moore-ms

CR feedback.
  source/LottieReader/Serialization/Exceptions.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

CR feedback.
  source/LottieData/Serialization/LottieCompositionYamlSerializer.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

CR feedback.
  source/LottieData/Serialization/LottieCompositionYamlSerializer.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

CR feedback.
  source/LottieReader/Serialization/EmptyList.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

More complete support for fills and strokes in the YAML serializer. (#243)
  source/LottieData/Serialization/LottieCompositionYamlSerializer.cs
  source/YamlData/YamlScalar.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Add "Reader" struct to ease transition to System.Text.Json. (#242)
  source/LottieReader/LottieReader.projitems
  source/LottieReader/Serialization/Assets.cs
  source/LottieReader/Serialization/Chars.cs
  source/LottieReader/Serialization/EmptyList.cs
  source/LottieReader/Serialization/Exceptions.cs
  source/LottieReader/Serialization/Fonts.cs
  source/LottieReader/Serialization/JCObject.cs
  source/LottieReader/Serialization/JsonToGenericData.cs
  source/LottieReader/Serialization/Layers.cs
  source/LottieReader/Serialization/LottieCompositionReader.cs
  source/LottieReader/Serialization/Markers.cs
  source/LottieReader/Serialization/Primitives.cs
  source/LottieReader/Serialization/Reader.cs
  source/LottieReader/Serialization/ShapeLayerContents.cs
Owners: @eliezerpMS, @simeoncran, @sohchatt, @scott-moore-ms

More refactoring.
  source/LottieReader/LottieReader.projitems
  source/LottieReader/Serialization/Animatables.cs
  source/LottieReader/Serialization/Chars.cs
  source/LottieReader/Serialization/Enums.cs
  source/LottieReader/Serialization/Fonts.cs
  source/LottieReader/Serialization/JCArray.cs
  source/LottieReader/Serialization/JCObject.cs
  source/LottieReader/Serialization/JCObjectExtensions.cs
  source/LottieReader/Serialization/JTokenExtensions.cs
  source/LottieReader/Serialization/Layers.cs
  source/LottieReader/Serialization/LottieCompositionReader.cs
  source/LottieReader/Serialization/LottieJsonArrayElement.cs
  source/LottieReader/Serialization/LottieJsonElement.cs
  source/LottieReader/Serialization/LottieJsonObjectElement.cs
  source/LottieReader/Serialization/Primitives.cs
  source/LottieReader/Serialization/ShapeLayerContents.cs
Owners: @eliezerpMS, @simeoncran, @sohchatt, @scott-moore-ms

Handle non-specified animatable floats by defaulting to non-animated 0.
  source/LottieReader/Serialization/Animatables.cs
  source/LottieReader/Serialization/LottieCompositionReader.cs
  source/LottieReader/Serialization/ShapeLayerContents.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Fix issues noticed in testing.
  source/LottieReader/Serialization/Animatables.cs
  source/LottieReader/Serialization/LottieCompositionReader.cs
  source/LottieReader/Serialization/LottieJsonElement.cs
  source/LottieReader/Serialization/Primitives.cs
  source/LottieReader/Serialization/ShapeLayerContents.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Bug fix. This version produces identical LottieGen output as previous versions (actually a bit better because Highlight stuff was crashing yaml serialization).
  source/LottieReader/Serialization/ShapeLayerContents.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

More work in progress towards System.Text.Json.
  source/LottieReader/LottieReader.projitems
  source/LottieReader/Serialization/Animatables.cs
  source/LottieReader/Serialization/Assets.cs
  source/LottieReader/Serialization/Chars.cs
  source/LottieReader/Serialization/Fonts.cs
  source/LottieReader/Serialization/Layers.cs
  source/LottieReader/Serialization/LottieCompositionReader.cs
  source/LottieReader/Serialization/LottieJsonArrayElement.cs
  source/LottieReader/Serialization/LottieJsonElement.cs
  source/LottieReader/Serialization/LottieJsonObjectElement.cs
  source/LottieReader/Serialization/Markers.cs
  source/LottieReader/Serialization/Primitives.cs
  source/LottieReader/Serialization/Reader.cs
  source/LottieReader/Serialization/ShapeLayerContents.cs
Owners: @eliezerpMS, @simeoncran, @sohchatt, @scott-moore-ms

Update nugets. Needed to include System.Text.Json in UWP, but while I'm there I've updated to newer versions of most things.
  Directory.Build.props
  Lottie-Windows/Lottie-Windows.csproj
  LottieGen/LottieGen.csproj
  LottieViewer/LottieViewer.csproj
  dlls/LottieReader/LottieReader.dll.csproj
  source/Lottie/LottieVisualSource.cs
Owners: @eliezerpMS, @simeoncran, @sohchatt, @scott-moore-ms

Find and fix more places that could throw due to null nullable.
  source/LottieReader/Serialization/Animatables.cs
  source/LottieReader/Serialization/JCObject.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Inherit stylecop from .props file.
  LottieGen/LottieGen.csproj
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

PR feedback, and fixing a few more ".Value" cases that could have caused exceptions.
  source/LottieReader/Serialization/Animatables.cs
  source/LottieReader/Serialization/Layers.cs
  source/LottieReader/Serialization/ShapeLayerContents.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Quieten down complains about properties in transforms not being read.
  source/LottieReader/Serialization/ShapeLayerContents.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Fix unnecessarily optimistic use of .Value.
  source/LottieReader/Serialization/Fonts.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

CR feedback.
  source/LottieReader/Serialization/Layers.cs
  source/LottieReader/Serialization/LottieJsonElement.cs
  source/LottieReader/Serialization/ShapeLayerContents.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Avoid some defensive copies: make TrimmedAnimatable a readonly struct.
  source/LottieToWinComp/TrimmedAnimatable.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

PR feedback.
  source/LottieReader/Serialization/LottieJsonObjectElement.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

More json refactoring towards System.Text.Json (#244)
  Directory.Build.props
  Lottie-Windows/Lottie-Windows.csproj
  LottieGen/LottieGen.csproj
  LottieViewer/LottieViewer.csproj
  dlls/LottieReader/LottieReader.dll.csproj
  source/Lottie/LottieVisualSource.cs
  source/LottieReader/LottieReader.projitems
  source/LottieReader/Serialization/Animatables.cs
  source/LottieReader/Serialization/Assets.cs
  source/LottieReader/Serialization/Chars.cs
  source/LottieReader/Serialization/Enums.cs
  source/LottieReader/Serialization/Fonts.cs
  source/LottieReader/Serialization/JCArray.cs
  source/LottieReader/Serialization/JCObject.cs
  source/LottieReader/Serialization/JCObjectExtensions.cs
  source/LottieReader/Serialization/JTokenExtensions.cs
  source/LottieReader/Serialization/Layers.cs
  source/LottieReader/Serialization/LottieCompositionReader.cs
  source/LottieReader/Serialization/LottieJsonArrayElement.cs
  source/LottieReader/Serialization/LottieJsonElement.cs
  source/LottieReader/Serialization/LottieJsonObjectElement.cs
  source/LottieReader/Serialization/Markers.cs
  source/LottieReader/Serialization/Primitives.cs
  source/LottieReader/Serialization/Reader.cs
  source/LottieReader/Serialization/ShapeLayerContents.cs
Owners: @eliezerpMS, @simeoncran, @sohchatt, @scott-moore-ms

Avoid some defensive copies: make TrimmedAnimatable a readonly struct. (#246)
  source/LottieToWinComp/TrimmedAnimatable.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Replacing Newtonsoft with System.Text.Json.
  GlobalSuppressions.cs
  Lottie-Windows/Lottie-Windows.csproj
  LottieGen/LottieGen.csproj
  LottieViewer/LottieViewer.csproj
  dlls/LottieReader/LottieReader.dll.csproj
  samples/LottieSamples/LottieSamples.csproj
  source/LottieReader/LottieReader.projitems
  source/LottieReader/Serialization/Animatables.cs
  source/LottieReader/Serialization/Assets.cs
  source/LottieReader/Serialization/Chars.cs
  source/LottieReader/Serialization/CheckedJsonArray.cs
  source/LottieReader/Serialization/CheckedJsonObject.cs
  source/LottieReader/Serialization/Fonts.cs
  source/LottieReader/Serialization/JsonToGenericData.cs
  source/LottieReader/Serialization/Layers.cs
  source/LottieReader/Serialization/LottieCompositionReader.cs
  source/LottieReader/Serialization/LottieJsonArrayElement.cs
  source/LottieReader/Serialization/LottieJsonDocument.cs
  source/LottieReader/Serialization/LottieJsonElement.cs
  source/LottieReader/Serialization/LottieJsonObjectElement.cs
  source/LottieReader/Serialization/Markers.cs
  source/LottieReader/Serialization/Reader.cs
  source/LottieReader/Serialization/ShapeLayerContents.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms, @sohchatt

.github/CODEOWNERS:

# The last matching pattern takes the most precedence.

# Default owners for everything in the repo, unless a later
# match takes precedence.
*       @eliezerpMS @simeoncran @sohchatt @scott-moore-ms

# File types
*.cs    @eliezerpMS @simeoncran @scott-moore-ms
*proj   @eliezerpMS @simeoncran @scott-moore-ms
*sln    @eliezerpMS @simeoncran @scott-moore-ms
*.md    @sohchatt @eliezerpMS @simeoncran @scott-moore-ms

# Directories
/build/ @eliezerpMS @simeoncran @scott-moore-ms
