Repository CommunityToolkit/Lottie-Windows, changes with the owners that .github/CODEOWNERS names for each.
All owners: @eliezerpMS, @simeoncran, @sohchatt, @scott-moore-ms

.github/CODEOWNERS:

# The last matching pattern takes the most precedence.

# Default owners for everything in the repo, unless a later
# match takes precedence.
*       @eliezerpMS @simeoncran @sohchatt @scott-moore-ms

# File types
*.cs    @eliezerpMS @simeoncran @scott-moore-ms
*proj   @eliezerpMS @simeoncran @scott-moore-ms
*sln    @eliezerpMS @simeoncran @scott-moore-ms
*.md    @sohchatt @eliezerpMS @simeoncran @scott-moore-ms

# Directories
/build/ @eliezerpMS @simeoncran @scott-moore-ms

Remove trailing space.
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Fix issue for geometry groups.
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

CR feedback.
  source/UIDataCodeGen/CodeGen/NodeNamer.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Fix issue found in testing.
  source/UIDataCodeGen/CodeGen/NodeNamer.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Another issue found in testing.
  source/UIDataCodeGen/CodeGen/NodeNamer.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Fix comment.
  source/UIDataCodeGen/CodeGen/NodeNamer.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Handle the common cases of opacity and color both animated at the same time. Avoid outputting error message case where opacity isn't animated but gradient is.
  source/LottieToWinComp/ExpressionFactory.cs
  source/LottieToWinComp/LottieToWinCompTranslator.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Improve NodeNamer readability. (#211)
  LottieGen/LottieGen.csproj
  LottieGen/README.md
  source/UIDataCodeGen/CodeGen/NodeNamer.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms, @sohchatt

CR Feedback.
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Make CompositionPath names start at 0. (#212)
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

PR feedback.
  source/Lottie/Instantiator.cs
  source/WinCompData/Expressions/ExpressionType.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

CR feedback.
  source/WinCompData/Expressions/Scalar.cs
  source/WinCompData/Expressions/Vector2.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

CR feedback.
  source/WinCompData/Expressions/Scalar.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Simplify canonicalization.
  source/UIData/Tools/CanonicalizedNode.cs
  source/UIData/Tools/Canonicalizer.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Make expressions equatable.
  source/WinCompData/Expressions/Expression.cs
  source/WinCompData/Expressions/ExpressionType.cs
  source/WinCompData/Expressions/Expression_.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

CR feedback.
  source/UIData/Tools/Canonicalizer.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Make expressions equatable. (#216)
  source/WinCompData/Expressions/Expression.cs
  source/WinCompData/Expressions/ExpressionType.cs
  source/WinCompData/Expressions/Expression_.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Simplify canonicalization. (#215)
  source/UIData/Tools/CanonicalizedNode.cs
  source/UIData/Tools/Canonicalizer.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Fix: when -DisableCodeGenOptimization were enabled simple object factories did not correctly share objects.
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Emit source info on IDynamicAnimatedVisualSource
  source/UIDataCodeGen/CodeGen/CSharpInstantiatorGenerator.cs
  source/UIDataCodeGen/CodeGen/CxInstantiatorGenerator.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Fix: when -DisableCodeGenOptimization were enabled simple object factories did not correctly share objects. (#217)
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Emit source info on IDynamicAnimatedVisualSource (#218)
  source/UIDataCodeGen/CodeGen/CSharpInstantiatorGenerator.cs
  source/UIDataCodeGen/CodeGen/CxInstantiatorGenerator.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Strong type of Lottie Opacity.
  source/LottieData/Color.cs
  source/LottieData/ExtensionMethods.cs
  source/LottieData/LinearGradientFill.cs
  source/LottieData/LinearGradientStroke.cs
  source/LottieData/LottieData.projitems
  source/LottieData/Mask.cs
  source/LottieData/Opacity.cs
  source/LottieData/OpacityGradientStop.cs
  source/LottieData/Optimization/GradientStopOptimizer.cs
  source/LottieData/RadialGradientFill.cs
  source/LottieData/RadialGradientStroke.cs
  source/LottieData/RepeaterTransform.cs
  source/LottieData/Serialization/LottieCompositionXmlSerializer.cs
  source/LottieData/Serialization/LottieCompositionYamlSerializer.cs
  source/LottieData/ShapeFill.cs
  source/LottieData/ShapeStroke.cs
  source/LottieData/SolidColorFill.cs
  source/LottieData/SolidColorStroke.cs
  source/LottieData/Transform.cs
  source/LottieReader/Serialization/LottieCompositionReader.cs
  source/LottieToWinComp/LottieToWinCompTranslator.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms, @sohchatt

CR feedback.
  source/LottieData/OpacityGradientStop.cs
  source/LottieData/Serialization/LottieCompositionXmlSerializer.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Strong type of Lottie Opacity. (#219)
  source/LottieData/Color.cs
  source/LottieData/ExtensionMethods.cs
  source/LottieData/LinearGradientFill.cs
  source/LottieData/LinearGradientStroke.cs
  source/LottieData/LottieData.projitems
  source/LottieData/Mask.cs
  source/LottieData/Opacity.cs
  source/LottieData/OpacityGradientStop.cs
  source/LottieData/Optimization/GradientStopOptimizer.cs
  source/LottieData/RadialGradientFill.cs
  source/LottieData/RadialGradientStroke.cs
  source/LottieData/RepeaterTransform.cs
  source/LottieData/Serialization/LottieCompositionXmlSerializer.cs
  source/LottieData/Serialization/LottieCompositionYamlSerializer.cs
  source/LottieData/ShapeFill.cs
  source/LottieData/ShapeStroke.cs
  source/LottieData/SolidColorFill.cs
  source/LottieData/SolidColorStroke.cs
  source/LottieData/Transform.cs
  source/LottieReader/Serialization/LottieCompositionReader.cs
  source/LottieToWinComp/LottieToWinCompTranslator.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms, @sohchatt

Everything working, I think.
  source/LottieData/Color.cs
  source/LottieData/ImageLayer.cs
  source/LottieData/NullLayer.cs
  source/LottieData/Optimization/GradientStopOptimizer.cs
  source/LottieData/PreCompLayer.cs
  source/LottieData/SolidLayer.cs
  source/LottieToWinComp/CompositeOpacity.cs
  source/LottieToWinComp/CubicBezierFunction2.cs
  source/LottieToWinComp/ExpressionFactory.cs
  source/LottieToWinComp/LottieToMultiVersionWinCompTranslator.cs
  source/LottieToWinComp/LottieToWinComp.projitems
  source/LottieToWinComp/LottieToWinCompTranslator.cs
  source/LottieToWinComp/PropertyBindingsParser.cs
  source/LottieToWinComp/TranslationContext.cs
  source/UIData/Tools/TreeReducer.cs
  source/UIDataCodeGen/CodeGen/CodeBuilder.cs
  source/UIDataCodeGen/CodeGen/CxInstantiatorGenerator.cs
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
  source/UIDataCodeGen/CodeGen/NodeNamer.cs
  source/WinCompData/CubicBezierEasingFunction.cs
  source/WinCompData/Expressions/Color.cs
  source/WinCompData/Expressions/ExpressionType.cs
  source/WinCompData/KeyFrameAnimation_.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms, @sohchatt

CR feedback.
  source/LottieData/Color.cs
  source/WinCompData/Expressions/Color.cs
  source/WinCompData/Expressions/ExpressionType.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Code cleanup.
  source/LottieData/ImageLayer.cs
  source/LottieData/NullLayer.cs
  source/LottieData/PreCompLayer.cs
  source/LottieData/SolidLayer.cs
  source/LottieToWinComp/CubicBezierFunction2.cs
  source/LottieToWinComp/LottieToMultiVersionWinCompTranslator.cs
  source/LottieToWinComp/PropertyBindingsParser.cs
  source/LottieToWinComp/TranslationContext.cs
  source/UIData/Tools/TreeReducer.cs
  source/UIDataCodeGen/CodeGen/CodeBuilder.cs
  source/UIDataCodeGen/CodeGen/CxInstantiatorGenerator.cs
  source/WinCompData/CubicBezierEasingFunction.cs
  source/WinCompData/Expressions/ExpressionType.cs
  source/WinCompData/KeyFrameAnimation_.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Code cleanup. (#221)
  source/LottieData/ImageLayer.cs
  source/LottieData/NullLayer.cs
  source/LottieData/PreCompLayer.cs
  source/LottieData/SolidLayer.cs
  source/LottieToWinComp/CubicBezierFunction2.cs
  source/LottieToWinComp/LottieToMultiVersionWinCompTranslator.cs
  source/LottieToWinComp/PropertyBindingsParser.cs
  source/LottieToWinComp/TranslationContext.cs
  source/UIData/Tools/TreeReducer.cs
  source/UIDataCodeGen/CodeGen/CodeBuilder.cs
  source/UIDataCodeGen/CodeGen/CxInstantiatorGenerator.cs
  source/WinCompData/CubicBezierEasingFunction.cs
  source/WinCompData/Expressions/ExpressionType.cs
  source/WinCompData/KeyFrameAnimation_.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Make CompositeOpacity always trimmed.
  source/LottieToWinComp/CompositeOpacity.cs
  source/LottieToWinComp/LottieToWinCompTranslator.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Officially deprecate some unused errors.
  source/Issues/LP0009.md
  source/Issues/LP0012.md
  source/Issues/LP0013.md
  source/Issues/LT0003.md
  source/Issues/LT0007.md
  source/Issues/LT0009.md
  source/Issues/LT0015.md
  source/Issues/LT0026.md
  source/Issues/LT0031.md
  source/Issues/LT0032.md
  source/Issues/LT0033.md
Owners: @sohchatt, @eliezerpMS, @simeoncran, @scott-moore-ms

Optimize generated code for collection population.
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

CR feedback.
  source/LottieToWinComp/CompositeOpacity.cs
  source/LottieToWinComp/ExpressionFactory.cs
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Fix build break.
  source/LottieToWinComp/ExpressionFactory.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Handle opacity and color animated at the same time. (#220)
  source/LottieData/Color.cs
  source/LottieData/Optimization/GradientStopOptimizer.cs
  source/LottieToWinComp/CompositeOpacity.cs
  source/LottieToWinComp/ExpressionFactory.cs
  source/LottieToWinComp/LottieToWinComp.projitems
  source/LottieToWinComp/LottieToWinCompTranslator.cs
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
  source/UIDataCodeGen/CodeGen/NodeNamer.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms, @sohchatt

Optimizations for generated code.
  source/UIDataCodeGen/CodeGen/CxInstantiatorGenerator.cs
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Codegen: pass parameters to the Compositor.Create* methods where possible.
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Inline the creation of CubicBezierEasingFunctions.
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Generalize to handle more cases.
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Do the starting of an animation and binding to progress in one method.
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms
