Repository CommunityToolkit/Lottie-Windows, changes with the owners that .github/CODEOWNERS names for each.
All owners: @eliezerpMS, @simeoncran, @sohchatt, @scott-moore-ms

.github/CODEOWNERS:

# The last matching pattern takes the most precedence.

# Default owners for everything in the repo, unless a later
# match takes precedence.
*       @eliezerpMS @simeoncran @sohchatt @scott-moore-ms

# File types
*.cs    @eliezerpMS @simeoncran @scott-moore-ms
*proj   @eliezerpMS @simeoncran @scott-moore-ms
*sln    @eliezerpMS @simeoncran @scott-moore-ms
*.md    @sohchatt @eliezerpMS @simeoncran @scott-moore-ms

# Directories
/build/ @eliezerpMS @simeoncran @scott-moore-ms

Fix incorrect class name in constructor calls in CX codegen. (#168)
  source/UIData/CodeGen/CxInstantiatorGenerator.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Optimize calls to CompositionVisualSurface.SourceOffset and .SourceSize. (#169)
  source/LottieToWinComp/LottieToWinCompTranslator.cs
  source/WinCompData/CompositionVisualSurface.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Handle the case of AnimatedVisuals for different versions needing different parameters.
  source/UIData/CodeGen/CSharpInstantiatorGenerator.cs
  source/UIData/CodeGen/CodeBuilder.cs
  source/UIData/CodeGen/CxInstantiatorGenerator.cs
  source/UIData/CodeGen/IAnimatedVisualInfo.cs
  source/UIData/CodeGen/IAnimatedVisualSourceInfo.cs
  source/UIData/CodeGen/InstantiatorGeneratorBase.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Handle the case of AnimatedVisuals for different versions needing different parameters. (#170)
  source/UIData/CodeGen/CSharpInstantiatorGenerator.cs
  source/UIData/CodeGen/CodeBuilder.cs
  source/UIData/CodeGen/CxInstantiatorGenerator.cs
  source/UIData/CodeGen/IAnimatedVisualInfo.cs
  source/UIData/CodeGen/IAnimatedVisualSourceInfo.cs
  source/UIData/CodeGen/InstantiatorGeneratorBase.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Anti-alias the edges of masks and mattes for a smoother result.
  source/Lottie/Instantiator.cs
  source/LottieToWinComp/LottieToWinCompTranslator.cs
  source/UIData/CodeGen/InstantiatorGeneratorBase.cs
  source/UIData/CodeGen/Optimizer.cs
  source/UIData/CodeGen/Stringifier.cs
  source/WinCompData/CompositionBorderMode.cs
  source/WinCompData/Serialization/CompositionObjectXmlSerializer.cs
  source/WinCompData/Visual.cs
  source/WinCompData/WinCompData.projitems
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms, @sohchatt

Improve comments.
  source/LottieToWinComp/LottieToWinCompTranslator.cs
  source/WinCompData/Visual.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Anti-alias the edges of masks and mattes for a smoother result. (#176)
  source/Lottie/Instantiator.cs
  source/LottieToWinComp/LottieToWinCompTranslator.cs
  source/UIData/CodeGen/InstantiatorGeneratorBase.cs
  source/UIData/CodeGen/Optimizer.cs
  source/UIData/CodeGen/Stringifier.cs
  source/WinCompData/CompositionBorderMode.cs
  source/WinCompData/Serialization/CompositionObjectXmlSerializer.cs
  source/WinCompData/Visual.cs
  source/WinCompData/WinCompData.projitems
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms, @sohchatt

Ensure node names don't conflict with type names for C++.
  source/UIData/CodeGen/NodeNamer.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Ensure node names don't conflict with type names for C++. (#177)
  source/UIData/CodeGen/NodeNamer.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Enable ARM64 builds.
  Directory.Build.props
  Lottie-Windows.sln
  LottieGen/LottieGen.sln
  LottieViewer/LottieViewer.csproj
  samples/LottieSamples/LottieSamples.csproj
Owners: @eliezerpMS, @simeoncran, @sohchatt, @scott-moore-ms

More.
  Directory.Build.props
  global.json
Owners: @eliezerpMS, @simeoncran, @sohchatt, @scott-moore-ms

Updating Win2d version. 1.24 is needed to support ARM64.
  Lottie-Windows/Lottie-Windows.csproj
  LottieViewer/LottieViewer.csproj
  LottieViewer/Package.appxmanifest
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms, @sohchatt

Remove person's alias that leaked into the appx package.
  LottieViewer/Package.appxmanifest
Owners: @eliezerpMS, @simeoncran, @sohchatt, @scott-moore-ms

Enable Arm64 builds (#179)
  Lottie-Windows.sln
  Lottie-Windows/Lottie-Windows.csproj
  LottieGen/LottieGen.sln
  LottieViewer/LottieViewer.csproj
  LottieViewer/Package.appxmanifest
  global.json
  samples/LottieSamples/LottieSamples.csproj
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms, @sohchatt

Prepare for 6.0.0 release.
  LottieGen/README.md
  README.md
  VERSION_HISTORY.md
  samples/LottieSamples/LottieSamples.csproj
  version.json
Owners: @sohchatt, @eliezerpMS, @simeoncran, @scott-moore-ms

Moving LottieSamples back to 5.1.1 because there is no 6.0.0 package for it to depend on yet.
  samples/LottieSamples/LottieSamples.csproj
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Add support for gradient strokes.
  source/Issues/LT0007.md
  source/LottieData/IGradient.cs
  source/LottieData/IRadialGradient.cs
  source/LottieData/LinearGradientFill.cs
  source/LottieData/LinearGradientStroke.cs
  source/LottieData/LottieComposition.cs
  source/LottieData/LottieData.projitems
  source/LottieData/RadialGradientFill.cs
  source/LottieData/RadialGradientStroke.cs
  source/LottieData/Serialization/LottieCompositionXmlSerializer.cs
  source/LottieData/Serialization/LottieCompositionYamlSerializer.cs
  source/LottieData/ShapeStroke.cs
  source/LottieData/SolidColorStroke.cs
  source/LottieReader/Serialization/LottieCompositionReader.cs
  source/LottieToWinComp/LottieToWinCompTranslator.cs
  source/LottieToWinComp/TranslationIssues.cs
Owners: @sohchatt, @eliezerpMS, @simeoncran, @scott-moore-ms

Make IRadialGradient compatible with pre-8.0 C# compiler.
  source/LottieData/IRadialGradient.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

CR feedback.
  source/LottieToWinComp/LottieToWinCompTranslator.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Add support for gradient strokes. (#181)
  source/Issues/LT0007.md
  source/LottieData/IGradient.cs
  source/LottieData/IRadialGradient.cs
  source/LottieData/LinearGradientFill.cs
  source/LottieData/LinearGradientStroke.cs
  source/LottieData/LottieComposition.cs
  source/LottieData/LottieData.projitems
  source/LottieData/RadialGradientFill.cs
  source/LottieData/RadialGradientStroke.cs
  source/LottieData/Serialization/LottieCompositionXmlSerializer.cs
  source/LottieData/Serialization/LottieCompositionYamlSerializer.cs
  source/LottieData/ShapeStroke.cs
  source/LottieData/SolidColorStroke.cs
  source/LottieReader/Serialization/LottieCompositionReader.cs
  source/LottieToWinComp/LottieToWinCompTranslator.cs
  source/LottieToWinComp/TranslationIssues.cs
Owners: @sohchatt, @eliezerpMS, @simeoncran, @scott-moore-ms

Support gradient opacity stops.
  LottieViewer/LottieViewer.csproj
  LottieViewer/LottieViewer_TemporaryKey.pfx
  source/LottieData/Color.cs
  source/LottieData/ColorGradientStop.cs
  source/LottieData/ExtensionMethods.cs
  source/LottieData/GradientStop.cs
  source/LottieData/IGradient.cs
  source/LottieData/LinearGradientFill.cs
  source/LottieData/LinearGradientStroke.cs
  source/LottieData/LottieData.projitems
  source/LottieData/OpacityGradientStop.cs
  source/LottieData/Optimization/GradientStopOptimizer.cs
  source/LottieData/RadialGradientFill.cs
  source/LottieData/RadialGradientStroke.cs
  source/LottieData/Sequence.cs
  source/LottieData/Serialization/LottieCompositionXmlSerializer.cs
  source/LottieData/Serialization/LottieCompositionYamlSerializer.cs
  source/LottieReader/Serialization/LottieCompositionReader.cs
  source/LottieToWinComp/LottieToWinCompTranslator.cs
  source/UIData/CodeGen/Canonicalizer.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms, @sohchatt

Update the samples cert - it had expired.
  samples/LottieSamples/LottieSamples_TemporaryKey.pfx
  source/LottieToWinComp/LottieToWinCompTranslator.cs
  source/UIData/CodeGen/Canonicalizer.cs
Owners: @eliezerpMS, @simeoncran, @sohchatt, @scott-moore-ms

Things I noticed in CR.
  source/LottieReader/Serialization/LottieCompositionReader.cs
  source/LottieToWinComp/LottieToWinCompTranslator.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

typos and formatting from CR.
  source/LottieReader/Serialization/LottieCompositionReader.cs
  source/LottieToWinComp/LottieToWinCompTranslator.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

PR CR fix.
  source/LottieToWinComp/LottieToWinCompTranslator.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Support gradient opacity stops. (#182)
  LottieViewer/LottieViewer.csproj
  LottieViewer/LottieViewer_TemporaryKey.pfx
  samples/LottieSamples/LottieSamples_TemporaryKey.pfx
  source/LottieData/Color.cs
  source/LottieData/ColorGradientStop.cs
  source/LottieData/ExtensionMethods.cs
  source/LottieData/GradientStop.cs
  source/LottieData/IGradient.cs
  source/LottieData/LinearGradientFill.cs
  source/LottieData/LinearGradientStroke.cs
  source/LottieData/LottieData.projitems
  source/LottieData/OpacityGradientStop.cs
  source/LottieData/Optimization/GradientStopOptimizer.cs
  source/LottieData/RadialGradientFill.cs
  source/LottieData/RadialGradientStroke.cs
  source/LottieData/Sequence.cs
  source/LottieData/Serialization/LottieCompositionXmlSerializer.cs
  source/LottieData/Serialization/LottieCompositionYamlSerializer.cs
  source/LottieReader/Serialization/LottieCompositionReader.cs
  source/LottieToWinComp/LottieToWinCompTranslator.cs
  source/UIData/CodeGen/Canonicalizer.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms, @sohchatt

Release version 6.0.0
  version.json
Owners: @eliezerpMS, @simeoncran, @sohchatt, @scott-moore-ms

Test fix for Sample App Build
  samples/LottieSamples/LottieSamples.csproj
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Remove pfx cert from LottieSamples
  samples/LottieSamples/LottieSamples.csproj
  samples/LottieSamples/LottieSamples_TemporaryKey.pfx
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms, @sohchatt

Fix bug where combining of strokes could fail during translation.
  source/LottieToWinComp/LottieToWinCompTranslator.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Remove pfx cert from LottieViewer
  LottieViewer/LottieViewer.csproj
  LottieViewer/LottieViewer_TemporaryKey.pfx
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms, @sohchatt

Fix bug where combining of strokes could fail during translation. (#184)
  source/LottieToWinComp/LottieToWinCompTranslator.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Use the most precise version of "next float".
  source/LottieToWinComp/Float32.cs
  source/LottieToWinComp/LottieToWinCompTranslator.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Update README.md
  README.md
Owners: @sohchatt, @eliezerpMS, @simeoncran, @scott-moore-ms

Use the most precise version of "next float". (#185)
  source/LottieToWinComp/Float32.cs
  source/LottieToWinComp/LottieToWinCompTranslator.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Add support for WUC Vector4KeyFrameAnimation.
  LottieGen/LottieFileProcessor.cs
  source/Lottie/Instantiator.cs
  source/LottieToWinComp/CompositionObjectFactory.cs
  source/UIData/CodeGen/Canonicalizer.cs
  source/UIData/CodeGen/CppStringifier.cs
  source/UIData/CodeGen/InstantiatorGeneratorBase.cs
  source/UIData/CodeGen/NodeNamer.cs
  source/UIData/CodeGen/Optimizer.cs
  source/UIData/CodeGen/Stringifier.cs
  source/UIData/Serialization/CompositionObjectDgmlSerializer.cs
  source/UIData/Tools/ObjectGraph.cs
  source/UIData/Tools/Stats.cs
  source/WinCompData/CompositionObjectType.cs
  source/WinCompData/Compositor.cs
  source/WinCompData/Serialization/CompositionObjectXmlSerializer.cs
  source/WinCompData/Vector4KeyFrameAnimation.cs
  source/WinCompData/WinCompData.projitems
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms, @sohchatt

Update VERSION_HISTORY.md
  VERSION_HISTORY.md
Owners: @sohchatt, @eliezerpMS, @simeoncran, @scott-moore-ms

Update VERSION_HISTORY.md
  VERSION_HISTORY.md
Owners: @sohchatt, @eliezerpMS, @simeoncran, @scott-moore-ms

CR feedback.
  samples/LottieSamples/LottieSamples.csproj
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

CR feedback.
  source/Lottie/Instantiator.cs
  source/UIData/CodeGen/Optimizer.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms
