Repository CommunityToolkit/Lottie-Windows, changes with the owners that .github/CODEOWNERS names for each.
All owners: @eliezerpMS, @simeoncran, @sohchatt, @scott-moore-ms

Add support for WUC Vector4KeyFrameAnimation. (#186)
  LottieGen/LottieFileProcessor.cs
  source/Lottie/Instantiator.cs
  source/LottieToWinComp/CompositionObjectFactory.cs
  source/UIData/CodeGen/Canonicalizer.cs
  source/UIData/CodeGen/CppStringifier.cs
  source/UIData/CodeGen/InstantiatorGeneratorBase.cs
  source/UIData/CodeGen/NodeNamer.cs
  source/UIData/CodeGen/Optimizer.cs
  source/UIData/CodeGen/Stringifier.cs
  source/UIData/Serialization/CompositionObjectDgmlSerializer.cs
  source/UIData/Tools/ObjectGraph.cs
  source/UIData/Tools/Stats.cs
  source/WinCompData/CompositionObjectType.cs
  source/WinCompData/Compositor.cs
  source/WinCompData/Serialization/CompositionObjectXmlSerializer.cs
  source/WinCompData/Vector4KeyFrameAnimation.cs
  source/WinCompData/WinCompData.projitems
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms, @sohchatt

Update the LottieGen readme to refer to 6.0.0 and 6.1.0 now that they're the latest versions.
  LottieGen/README.md
Owners: @sohchatt, @eliezerpMS, @simeoncran, @scott-moore-ms

Update readme and version history for v6.0 (#188)
  README.md
  VERSION_HISTORY.md
Owners: @sohchatt, @eliezerpMS, @simeoncran, @scott-moore-ms

Update the LottieGen readme to refer to 6.0.0 and 6.1.0 now that they're the latest versions. (#189)
  LottieGen/README.md
Owners: @sohchatt, @eliezerpMS, @simeoncran, @scott-moore-ms

Merge6.0.0 into main and start6.1.0 (#187)
  LottieViewer/LottieViewer.csproj
  LottieViewer/LottieViewer_TemporaryKey.pfx
  VERSION_HISTORY.md
  samples/LottieSamples/LottieSamples.csproj
  samples/LottieSamples/LottieSamples_TemporaryKey.pfx
  version.json
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms, @sohchatt

Make parsing resilient to issues seen in our corpus.
  LottieGen/LottieGen.csproj
  LottieGen/LottieGen.sln
  source/GenericData/GenericData.projitems
  source/GenericData/GenericData.shproj
  source/GenericData/GenericDataBool.cs
  source/GenericData/GenericDataList.cs
  source/GenericData/GenericDataMap.cs
  source/GenericData/GenericDataNumber.cs
  source/GenericData/GenericDataObject.cs
  source/GenericData/GenericDataObjectType.cs
  source/GenericData/GenericDataString.cs
  source/Issues/LP0018.md
  source/LottieData/CubicBezierEasing.cs
  source/LottieData/Easing.cs
  source/LottieData/HoldEasing.cs
  source/LottieData/LinearEasing.cs
  source/LottieData/LottieComposition.cs
  source/LottieData/Optimization/GradientStopOptimizer.cs
  source/LottieData/Serialization/LottieCompositionXmlSerializer.cs
  source/LottieData/Serialization/LottieCompositionYamlSerializer.cs
  source/LottieReader/LottieReader.projitems
  source/LottieReader/Serialization/JsonToGenericData.cs
  source/LottieReader/Serialization/LottieCompositionReader.cs
  source/LottieReader/Serialization/ParsingIssues.cs
  source/LottieToWinComp/LottieToWinCompTranslator.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms, @sohchatt

CR feedback, and some missing references.
  Lottie-Windows.sln
  Lottie-Windows/Lottie-Windows.csproj
  LottieViewer/LottieViewer.csproj
  dlls/GenericData/GenericData.dll.csproj
  source/LottieData/LottieComposition.cs
  source/LottieToWinComp/LottieToWinCompTranslator.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

CR feedback.
  source/LottieData/Optimization/GradientStopOptimizer.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Fix build break.
  Lottie-Windows/Lottie-Windows.csproj
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Fix build break.
  dlls/LottieData/LottieData.dll.csproj
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Fix build break.
  dlls/LottieReader/LottieReader.dll.csproj
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Make parsing resilient to issues seen in our corpus. (#190)
  Lottie-Windows.sln
  Lottie-Windows/Lottie-Windows.csproj
  LottieGen/LottieGen.csproj
  LottieGen/LottieGen.sln
  LottieViewer/LottieViewer.csproj
  dlls/GenericData/GenericData.dll.csproj
  source/GenericData/GenericData.projitems
  source/GenericData/GenericData.shproj
  source/GenericData/GenericDataBool.cs
  source/GenericData/GenericDataList.cs
  source/GenericData/GenericDataMap.cs
  source/GenericData/GenericDataNumber.cs
  source/GenericData/GenericDataObject.cs
  source/GenericData/GenericDataObjectType.cs
  source/GenericData/GenericDataString.cs
  source/Issues/LP0018.md
  source/LottieData/CubicBezierEasing.cs
  source/LottieData/Easing.cs
  source/LottieData/HoldEasing.cs
  source/LottieData/LinearEasing.cs
  source/LottieData/LottieComposition.cs
  source/LottieData/Optimization/GradientStopOptimizer.cs
  source/LottieData/Serialization/LottieCompositionXmlSerializer.cs
  source/LottieData/Serialization/LottieCompositionYamlSerializer.cs
  source/LottieReader/LottieReader.projitems
  source/LottieReader/Serialization/JsonToGenericData.cs
  source/LottieReader/Serialization/LottieCompositionReader.cs
  source/LottieReader/Serialization/ParsingIssues.cs
  source/LottieToWinComp/LottieToWinCompTranslator.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms, @sohchatt

Add a cast to eliminate a compiler warning.
  source/UIData/CodeGen/CxInstantiatorGenerator.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Handle difference in headers used by Windows build system.
  source/UIData/CodeGen/CxInstantiatorGenerator.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Make the DGML format show the links between matte/mask trees and the main visual tree.
  source/UIData/Serialization/CompositionObjectDgmlSerializer.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Add a cast to eliminate a compiler warning. (#191)
  source/UIData/CodeGen/CxInstantiatorGenerator.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Remove workaround for CompositionRectangleGeometry when running on UAP v8.
  source/LottieToWinComp/CompositionObjectFactory.cs
  source/LottieToWinComp/LottieToWinCompTranslator.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Make the DGML format show the links between matte/mask trees and the main visual tree. (#192)
  source/UIData/Serialization/CompositionObjectDgmlSerializer.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

CR feedback.
  source/LottieToWinComp/LottieToWinCompTranslator.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Remove workaround for CompositionRectangleGeometry when running on UAP v8. (#193)
  source/LottieToWinComp/CompositionObjectFactory.cs
  source/LottieToWinComp/LottieToWinCompTranslator.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Adding a metadata facility to CompositionObject.
  source/LottieToWinComp/LottieToWinCompTranslator.cs
  source/UIData/CodeGen/InstantiatorGeneratorBase.cs
  source/UIData/Serialization/CompositionObjectDgmlSerializer.cs
  source/WinCompData/CompositionAnimation.cs
  source/WinCompData/CompositionObject.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

CR feedback.
  source/WinCompData/CompositionObject.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Adding a metadata facility to CompositionObject. (#194)
  source/LottieToWinComp/LottieToWinCompTranslator.cs
  source/UIData/CodeGen/InstantiatorGeneratorBase.cs
  source/UIData/Serialization/CompositionObjectDgmlSerializer.cs
  source/WinCompData/CompositionAnimation.cs
  source/WinCompData/CompositionObject.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Getting Lottie metadata piped through.
  source/GenericData/GenericDataBool.cs
  source/GenericData/GenericDataList.cs
  source/GenericData/GenericDataMap.cs
  source/GenericData/GenericDataNumber.cs
  source/GenericData/GenericDataObject.cs
  source/GenericData/GenericDataString.cs
  source/Lottie/GenericDataToJson.cs
  source/Lottie/Lottie.projitems
  source/Lottie/LottieVisualDiagnostics.cs
  source/LottieData/Animatable.cs
  source/LottieData/EmptyArray.cs
  source/LottieData/LottieComposition.cs
  source/LottieData/LottieData.projitems
  source/LottieData/Marker.cs
  source/LottieData/Sequence.cs
  source/LottieReader/Serialization/JsonToGenericData.cs
  source/LottieReader/Serialization/LottieCompositionReader.cs
  source/LottieToWinComp/LottieToWinCompTranslator.cs
  source/LottieToWinComp/TranslationResult.cs
  source/UIData/Tools/Graph.cs
  source/WinCompData/Expressions/Name.cs
  source/WinCompData/Wui/Color.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms, @sohchatt

Getting Lottie metadata piped through. (#195)
  source/GenericData/GenericDataBool.cs
  source/GenericData/GenericDataList.cs
  source/GenericData/GenericDataMap.cs
  source/GenericData/GenericDataNumber.cs
  source/GenericData/GenericDataObject.cs
  source/GenericData/GenericDataString.cs
  source/Lottie/GenericDataToJson.cs
  source/Lottie/Lottie.projitems
  source/Lottie/LottieVisualDiagnostics.cs
  source/LottieData/Animatable.cs
  source/LottieData/EmptyArray.cs
  source/LottieData/LottieComposition.cs
  source/LottieData/LottieData.projitems
  source/LottieData/Marker.cs
  source/LottieData/Sequence.cs
  source/LottieReader/Serialization/JsonToGenericData.cs
  source/LottieReader/Serialization/LottieCompositionReader.cs
  source/LottieToWinComp/LottieToWinCompTranslator.cs
  source/LottieToWinComp/TranslationResult.cs
  source/UIData/Tools/Graph.cs
  source/WinCompData/Expressions/Name.cs
  source/WinCompData/Wui/Color.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms, @sohchatt

Remove codegen functionality from LottieViewer.
  LottieViewer/MainPage.xaml
  LottieViewer/MainPage.xaml.cs
Owners: @eliezerpMS, @simeoncran, @sohchatt, @scott-moore-ms

Remove codegen functionality from LottieViewer. (#196)
  LottieViewer/MainPage.xaml
  LottieViewer/MainPage.xaml.cs
Owners: @eliezerpMS, @simeoncran, @sohchatt, @scott-moore-ms

Pass Lottie metadata (frame rate, etc) through translator to the code generators. Add ability to convert GenericData object to code-genned Windows.Data.Json objects.
  LottieGen/LottieFileProcessor.cs
  dlls/UIData/UIData.dll.csproj
  source/Lottie/LottieVisualDiagnostics.cs
  source/Lottie/LottieVisualSource.cs
  source/UIData/CodeGen/CSharpInstantiatorGenerator.cs
  source/UIData/CodeGen/CxInstantiatorGenerator.cs
  source/UIData/CodeGen/InstantiatorGeneratorBase.cs
  source/UIData/CodeGen/Stringifier.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Remove some dead code.
  LottieViewer/MainPage.xaml.cs
  source/Lottie/LottieVisualDiagnostics.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Removing C#-8.0-ism from code used by UWP.
  source/UIData/CodeGen/InstantiatorGeneratorBase.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Remove another piece of C# 8.0 that snuck in. It breaks LottieVisualSource builds.
  source/UIData/CodeGen/InstantiatorGeneratorBase.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Adding a property bindings language parser.
  source/LottieToWinComp/LottieToWinComp.projitems
  source/LottieToWinComp/LottieToWinCompTranslator.cs
  source/LottieToWinComp/PropertyBindingsParser.cs
Owners: @eliezerpMS, @simeoncran, @sohchatt, @scott-moore-ms

CR feedback.
  source/LottieToWinComp/PropertyBindingsParser.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Pass Lottie metadata (frame rate, etc) through translator to the code generators. (#197)
  LottieGen/LottieFileProcessor.cs
  LottieViewer/MainPage.xaml.cs
  dlls/UIData/UIData.dll.csproj
  source/Lottie/LottieVisualDiagnostics.cs
  source/Lottie/LottieVisualSource.cs
  source/UIData/CodeGen/CSharpInstantiatorGenerator.cs
  source/UIData/CodeGen/CxInstantiatorGenerator.cs
  source/UIData/CodeGen/InstantiatorGeneratorBase.cs
  source/UIData/CodeGen/Stringifier.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Move codegen code into its own module so that projects that don't use codegen don't include it, and so we can start using C# 8.0 in the codegen code.
  GlobalSuppressions.cs
  Lottie-Windows.sln
  LottieGen/LottieGen.csproj
  dlls/UIDataCodeGen/UIDataCodeGen.dll.csproj
  source/Lottie/LottieVisualSource.cs
  source/UIData/Tools/CanonicalizedNode.cs
  source/UIData/Tools/Canonicalizer.cs
  source/UIData/Tools/ObjectGraph.cs
  source/UIData/Tools/Optimizer.cs
  source/UIData/Tools/TreeReducer.cs
  source/UIData/UIData.projitems
  source/UIDataCodeGen/CodeGen/AlphanumericStringComparer.cs
  source/UIDataCodeGen/CodeGen/CSharpInstantiatorGenerator.cs
  source/UIDataCodeGen/CodeGen/CodeBuilder.cs
  source/UIDataCodeGen/CodeGen/CppStringifier.cs
  source/UIDataCodeGen/CodeGen/CxInstantiatorGenerator.cs
  source/UIDataCodeGen/CodeGen/IAnimatedVisualInfo.cs
  source/UIDataCodeGen/CodeGen/IAnimatedVisualSourceInfo.cs
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
  source/UIDataCodeGen/CodeGen/LoadedImageSurfaceInfo.cs
  source/UIDataCodeGen/CodeGen/NodeNamer.cs
  source/UIDataCodeGen/CodeGen/Stringifier.cs
  source/UIDataCodeGen/Serialization/CompositionObjectDgmlSerializer.cs
  source/UIDataCodeGen/UIDataCodeGen.projitems
  source/UIDataCodeGen/UIDataCodeGen.shproj
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms, @sohchatt

CR feedback.
  source/UIDataCodeGen/Serialization/CompositionObjectDgmlSerializer.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Build break.
  source/UIDataCodeGen/Serialization/CompositionObjectDgmlSerializer.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Adding a property bindings language parser. (#198)
  source/LottieToWinComp/LottieToWinComp.projitems
  source/LottieToWinComp/LottieToWinCompTranslator.cs
  source/LottieToWinComp/PropertyBindingsParser.cs
Owners: @eliezerpMS, @simeoncran, @sohchatt, @scott-moore-ms

Fix build break.
  Lottie-Windows.sln
  LottieGen/LottieGen.sln
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Move code generator code into its own module (#199)
  GlobalSuppressions.cs
  Lottie-Windows.sln
  LottieGen/LottieGen.csproj
  LottieGen/LottieGen.sln
  dlls/UIDataCodeGen/UIDataCodeGen.dll.csproj
  source/Lottie/LottieVisualSource.cs
  source/UIData/Tools/CanonicalizedNode.cs
  source/UIData/Tools/Canonicalizer.cs
  source/UIData/Tools/ObjectGraph.cs
  source/UIData/Tools/Optimizer.cs
  source/UIData/Tools/TreeReducer.cs
  source/UIData/UIData.projitems
  source/UIDataCodeGen/CodeGen/AlphanumericStringComparer.cs
  source/UIDataCodeGen/CodeGen/CSharpInstantiatorGenerator.cs
  source/UIDataCodeGen/CodeGen/CodeBuilder.cs
  source/UIDataCodeGen/CodeGen/CppStringifier.cs
  source/UIDataCodeGen/CodeGen/CxInstantiatorGenerator.cs
  source/UIDataCodeGen/CodeGen/IAnimatedVisualInfo.cs
  source/UIDataCodeGen/CodeGen/IAnimatedVisualSourceInfo.cs
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
  source/UIDataCodeGen/CodeGen/LoadedImageSurfaceInfo.cs
  source/UIDataCodeGen/CodeGen/NodeNamer.cs
  source/UIDataCodeGen/CodeGen/Stringifier.cs
  source/UIDataCodeGen/Serialization/CompositionObjectDgmlSerializer.cs
  source/UIDataCodeGen/UIDataCodeGen.projitems
  source/UIDataCodeGen/UIDataCodeGen.shproj
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms, @sohchatt

.github/CODEOWNERS:

# The last matching pattern takes the most precedence.

# Default owners for everything in the repo, unless a later
# match takes precedence.
*       @eliezerpMS @simeoncran @sohchatt @scott-moore-ms

# File types
*.cs    @eliezerpMS @simeoncran @scott-moore-ms
*proj   @eliezerpMS @simeoncran @scott-moore-ms
*sln    @eliezerpMS @simeoncran @scott-moore-ms
*.md    @sohchatt @eliezerpMS @simeoncran @scott-moore-ms

# Directories
/build/ @eliezerpMS @simeoncran @scott-moore-ms
