Repository CommunityToolkit/Lottie-Windows, changes with the owners that .github/CODEOWNERS names for each.
All owners: @eliezerpMS, @simeoncran, @sohchatt, @scott-moore-ms

Special-case UWP builds in the parser because UWP .NET Core doesn't yet have a method we'd like to use.
  source/LottieReader/Serialization/LottieCompositionReader.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

PR feedback.
  Lottie-Windows/Lottie-Windows.csproj
  samples/LottieSamples/LottieSamples.csproj
  source/LottieReader/Serialization/Fonts.cs
  source/LottieReader/Serialization/LottieCompositionReader.cs
  source/LottieReader/Serialization/LottieJsonArrayElement.cs
  source/LottieReader/Serialization/Reader.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Replacing Newtonsoft with System.Text.Json. (#247)
  GlobalSuppressions.cs
  Lottie-Windows/Lottie-Windows.csproj
  LottieGen/LottieGen.csproj
  LottieViewer/LottieViewer.csproj
  dlls/LottieReader/LottieReader.dll.csproj
  samples/LottieSamples/LottieSamples.csproj
  source/LottieReader/LottieReader.projitems
  source/LottieReader/Serialization/Animatables.cs
  source/LottieReader/Serialization/Assets.cs
  source/LottieReader/Serialization/Chars.cs
  source/LottieReader/Serialization/CheckedJsonArray.cs
  source/LottieReader/Serialization/CheckedJsonObject.cs
  source/LottieReader/Serialization/Fonts.cs
  source/LottieReader/Serialization/JsonToGenericData.cs
  source/LottieReader/Serialization/Layers.cs
  source/LottieReader/Serialization/LottieCompositionReader.cs
  source/LottieReader/Serialization/LottieJsonArrayElement.cs
  source/LottieReader/Serialization/LottieJsonDocument.cs
  source/LottieReader/Serialization/LottieJsonElement.cs
  source/LottieReader/Serialization/LottieJsonObjectElement.cs
  source/LottieReader/Serialization/Markers.cs
  source/LottieReader/Serialization/Reader.cs
  source/LottieReader/Serialization/ShapeLayerContents.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms, @sohchatt

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Owners: @sohchatt, @eliezerpMS, @simeoncran, @scott-moore-ms

ref in readme
  README.md
Owners: @sohchatt, @eliezerpMS, @simeoncran, @scott-moore-ms

Fix issues discovered during testing.
  source/LottieMetadata/Frame.cs
  source/LottieMetadata/Marker.cs
  source/LottieToWinComp/LottieToWinCompTranslator.cs
  source/LottieToWinComp/ProgressMapFactory.cs
  source/UIDataCodeGen/CodeGen/CSharpInstantiatorGenerator.cs
  source/UIDataCodeGen/CodeGen/CodeBuilder.cs
  source/UIDataCodeGen/CodeGen/IAnimatedVisualSourceInfo.cs
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
  source/UIDataCodeGen/CodeGen/MarkerInfo.cs
  source/UIDataCodeGen/CodeGen/Tables/LottieMarkersMonospaceTableFormatter.cs
  source/UIDataCodeGen/UIDataCodeGen.projitems
  tests/LottieGenCorpus.ps1
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms, @sohchatt

Fix bugs introduced by CR changes. Update some incorrect licensing headers in source files.
  source/LottieData/Optimization/GradientStopOptimizer.cs
  source/LottieMetadata/Duration.cs
  source/LottieMetadata/Frame.cs
  source/LottieMetadata/Marker.cs
  source/UIData/Tools/GraphCompactor.cs
  source/UIData/Tools/ObjectGraph.cs
  source/UIData/Tools/Optimizer.cs
  source/UIData/Tools/Properties.cs
  source/UIDataCodeGen/CodeGen/CppInstantiatorGeneratorBase.cs
  source/UIDataCodeGen/CodeGen/CppwinrtInstantiatorGenerator.cs
  source/UIDataCodeGen/CodeGen/CxInstantiatorGenerator.cs
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
  source/UIDataCodeGen/CodeGen/Tables/ColumnData.cs
  source/UIDataCodeGen/CodeGen/Tables/GraphStatsMonospaceTableFormatter.cs
  source/UIDataCodeGen/CodeGen/Tables/LottieMarkersMonospaceTableFormatter.cs
  source/UIDataCodeGen/CodeGen/Tables/MonospaceTableFormatter.cs
  source/UIDataCodeGen/CodeGen/Tables/Row.cs
  source/UIDataCodeGen/CodeGen/Tables/TextAlignment.cs
  source/UIDataCodeGen/CodeGen/Tables/ThemePropertiesMonospaceTableFormatter.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Added package description and tags
  Lottie-Windows/Lottie-Windows.csproj
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Fix build breaks.
  LottieViewer/LottieViewer.csproj
  source/UIData/Tools/GraphCompactor.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Fix the reference to the package certificate so that it will build.
  LottieViewer/LottieViewer.csproj
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Completely turn off signing to allow build to succeed. It was off before and was turned on accidentally.
  LottieViewer/LottieViewer.csproj
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

CR feedback.
  source/LottieMetadata/LottieCompositionMetadata.cs
  source/LottieToWinComp/CubicBezierFunction2.cs
  source/WinCompData/Expressions/Expression.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Update description, and add tags for LottieGen. This information is displayed by NuGet.
  LottieGen/LottieGen.csproj
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Added package description and tags (#254)
  Lottie-Windows/Lottie-Windows.csproj
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

PR feedback.
  LottieGen/LottieFileProcessor.cs
  LottieGen/Program.cs
  source/LottieData/Optimization/GradientStopOptimizer.cs
  source/LottieMetadata/Duration.cs
  source/LottieMetadata/Frame.cs
  source/LottieReader/Serialization/Markers.cs
  source/LottieToWinComp/LottieToWinCompTranslator.cs
  source/UIData/Tools/Optimizer.cs
  source/UIData/Tools/PropertyId.cs
  source/UIData/Tools/PropertyValueOptimizer.cs
  source/WinCompData/CompositionObject.cs
  source/WinCompData/Serialization/CompositionObjectXmlSerializer.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Update description, and add tags for LottieGen. (#255)
  LottieGen/LottieGen.csproj
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

PR feedback. Also ran the VS cleanup and analysis tools.
  LottieGen/CommandLineTokenizer.cs
  LottieGen/DataTable.cs
  LottieGen/LottieFileProcessor.cs
  LottieViewer/App.xaml.cs
  LottieViewer/MainPage.xaml.cs
  LottieViewer/Scrubber.xaml.cs
  source/Lottie/Instantiator.cs
  source/Lottie/LottieVisualSource.cs
  source/LottieData/Optimization/GradientStopOptimizer.cs
  source/LottieData/Optimization/Optimizer.cs
  source/LottieToWinComp/LottieToWinCompTranslator.cs
  source/LottieToWinComp/TranslationContext.cs
  source/UIData/Tools/Canonicalizer.cs
  source/UIData/Tools/GraphCompactor.cs
  source/UIData/Tools/Optimizer.cs
  source/WinCompData/CompositionObject.cs
  source/WinCompData/Tools/ListOfNeverNull.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

PR CR feedback.
  source/WinCompData/CompositionObject.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Parsing issues updated.
  source/Issues/IssuesClassGenerator.t4
  source/Issues/LP0001.md
  source/Issues/LP0002.md
  source/Issues/LP0005.md
  source/Issues/LP0006.md
  source/Issues/LP0007.md
  source/Issues/LP0008.md
  source/Issues/LP0009.md
  source/Issues/LP0011.md
  source/Issues/LP0012.md
  source/Issues/LP0013.md
  source/Issues/LP0014.md
  source/Issues/LP0015.md
  source/Issues/LP0016.md
  source/Issues/LP0017.md
  source/Issues/LP0018.md
  source/LottieReader/Serialization/ParsingIssues.cs
Owners: @eliezerpMS, @simeoncran, @sohchatt, @scott-moore-ms

.github/CODEOWNERS:

# The last matching pattern takes the most precedence.

# Default owners for everything in the repo, unless a later
# match takes precedence.
*       @eliezerpMS @simeoncran @sohchatt @scott-moore-ms

# File types
*.cs    @eliezerpMS @simeoncran @scott-moore-ms
*proj   @eliezerpMS @simeoncran @scott-moore-ms
*sln    @eliezerpMS @simeoncran @scott-moore-ms
*.md    @sohchatt @eliezerpMS @simeoncran @scott-moore-ms

# Directories
/build/ @eliezerpMS @simeoncran @scott-moore-ms
