Repository CommunityToolkit/Lottie-Windows, changes with the owners that .github/CODEOWNERS names for each.
All owners: @eliezerpMS, @simeoncran, @sohchatt, @scott-moore-ms

.github/CODEOWNERS:

# The last matching pattern takes the most precedence.

# Default owners for everything in the repo, unless a later
# match takes precedence.
*       @eliezerpMS @simeoncran @sohchatt @scott-moore-ms

# File types
*.cs    @eliezerpMS @simeoncran @scott-moore-ms
*proj   @eliezerpMS @simeoncran @scott-moore-ms
*sln    @eliezerpMS @simeoncran @scott-moore-ms
*.md    @sohchatt @eliezerpMS @simeoncran @scott-moore-ms

# Directories
/build/ @eliezerpMS @simeoncran @scott-moore-ms

Codegen: pass parameters to the Compositor.Create* methods where possible. (#225)
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

CR feedback.
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

CR feedback.
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

For readability of the generated code, special name for root progress animation.
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

For readability of the generated code, special name for root progress animation. (#227)
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

CR feedback - convert to UTF8.
  source/Issues/LP0009.md
  source/Issues/LP0012.md
  source/Issues/LP0013.md
  source/Issues/LT0003.md
  source/Issues/LT0007.md
  source/Issues/LT0009.md
  source/Issues/LT0015.md
  source/Issues/LT0026.md
Owners: @sohchatt, @eliezerpMS, @simeoncran, @scott-moore-ms

Inline the creation of CubicBezierEasingFunctions. (#226)
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Officially deprecate some unused errors. (#222)
  source/Issues/LP0009.md
  source/Issues/LP0012.md
  source/Issues/LP0013.md
  source/Issues/LT0003.md
  source/Issues/LT0007.md
  source/Issues/LT0009.md
  source/Issues/LT0015.md
  source/Issues/LT0026.md
  source/Issues/LT0031.md
  source/Issues/LT0032.md
  source/Issues/LT0033.md
Owners: @sohchatt, @eliezerpMS, @simeoncran, @scott-moore-ms

Make the YAML output even more human readable by including comments.
  source/LottieData/Serialization/LottieCompositionYamlSerializer.cs
  source/YamlData/YamlObject.cs
  source/YamlData/YamlWriter.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Transfer object descriptions and names during tree reduction.
  source/UIData/Tools/TreeReducer.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

CR feedback.
  source/UIData/Tools/TreeReducer.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Transfer object descriptions and names during tree reduction. (#229)
  source/UIData/Tools/TreeReducer.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Make the YAML output even more human readable by including comments. (#228)
  source/LottieData/Serialization/LottieCompositionYamlSerializer.cs
  source/YamlData/YamlObject.cs
  source/YamlData/YamlWriter.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Use nameof to keep Yaml field names in sync with Lottie data property names.
  source/LottieData/Serialization/LottieCompositionYamlSerializer.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Simplify node naming.
  source/LottieToWinComp/LottieToWinCompTranslator.cs
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
  source/UIDataCodeGen/CodeGen/NodeNamer.cs
  source/WinCompData/CompositionAnimation.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Set a smart default value for property-bound colors.
  source/LottieToWinComp/LottieToWinCompTranslator.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Add a type to represent rotation.
  source/LottieData/LottieData.projitems
  source/LottieData/Opacity.cs
  source/LottieData/RepeaterTransform.cs
  source/LottieData/Rotation.cs
  source/LottieData/Serialization/LottieCompositionXmlSerializer.cs
  source/LottieData/Serialization/LottieCompositionYamlSerializer.cs
  source/LottieData/Transform.cs
  source/LottieData/TrimPath.cs
  source/LottieReader/Serialization/LottieCompositionReader.cs
  source/LottieToWinComp/LottieToWinCompTranslator.cs
Owners: @eliezerpMS, @simeoncran, @sohchatt, @scott-moore-ms

Add ability to get the type for a given CompositionPropertySet property name.
  source/UIData/Tools/Canonicalizer.cs
  source/UIData/Tools/Optimizer.cs
  source/UIData/Tools/Stats.cs
  source/UIData/Tools/TreeReducer.cs
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
  source/WinCompData/CompositionPropertySet.cs
  source/WinCompData/MetaData/PropertySetValueType.cs
  source/WinCompData/Serialization/CompositionObjectXmlSerializer.cs
  source/WinCompData/WinCompData.projitems
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms, @sohchatt

Fix build break.
  source/Lottie/Instantiator.cs
  source/WinCompData/CompositionPropertySet.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

CR feedback.
  source/LottieData/LottieData.projitems
  source/LottieData/Rotation.cs
Owners: @eliezerpMS, @simeoncran, @sohchatt, @scott-moore-ms

Make our simple implementations of Equals more consistent across types.
  source/LottieData/Color.cs
  source/LottieData/Opacity.cs
  source/LottieData/Vector2.cs
  source/LottieData/Vector3.cs
  source/WinCompData/Expressions/Expression.cs
  source/WinCompData/Wui/Color.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Add a type to represent rotation. (#235)
  source/LottieData/LottieData.projitems
  source/LottieData/Opacity.cs
  source/LottieData/RepeaterTransform.cs
  source/LottieData/Rotation.cs
  source/LottieData/Serialization/LottieCompositionXmlSerializer.cs
  source/LottieData/Serialization/LottieCompositionYamlSerializer.cs
  source/LottieData/Transform.cs
  source/LottieData/TrimPath.cs
  source/LottieReader/Serialization/LottieCompositionReader.cs
  source/LottieToWinComp/LottieToWinCompTranslator.cs
Owners: @eliezerpMS, @simeoncran, @sohchatt, @scott-moore-ms

Optimize generated code for collection population. (#223)
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

CR feedback.
  source/LottieData/Color.cs
  source/LottieData/HoldEasing.cs
  source/LottieData/Sequence.cs
  source/LottieToWinComp/LottieToWinCompTranslator.cs
  source/WinCompData/Expressions/Expression.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Add a type to represent Trim amount.
  source/LottieData/LottieData.projitems
  source/LottieData/Serialization/LottieCompositionXmlSerializer.cs
  source/LottieData/Serialization/LottieCompositionYamlSerializer.cs
  source/LottieData/Trim.cs
  source/LottieData/TrimPath.cs
  source/LottieReader/Serialization/LottieCompositionReader.cs
  source/LottieToWinComp/LottieToWinCompTranslator.cs
Owners: @eliezerpMS, @simeoncran, @sohchatt, @scott-moore-ms

Make the type being used to initialize and Opacity a bit clearer.
  source/LottieData/Opacity.cs
  source/LottieReader/Serialization/LottieCompositionReader.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

CR feedback
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
  source/WinCompData/CompositionPropertySet.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

CR feedback.
  source/LottieToWinComp/LottieToWinCompTranslator.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

CR feedback.
  source/UIDataCodeGen/CodeGen/NodeNamer.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

CR feedback.
  source/LottieData/Serialization/LottieCompositionYamlSerializer.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Optimizations for generated code. (#224)
  source/UIDataCodeGen/CodeGen/CxInstantiatorGenerator.cs
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

CR feedback.
  source/LottieData/Color.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

CR feedback.
  source/LottieData/Color.cs
  source/LottieData/Sequence.cs
  source/LottieToWinComp/LottieToWinCompTranslator.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Set a smart default value for property-bound colors. (#233)
  source/LottieToWinComp/LottieToWinCompTranslator.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

CR feedback.
  source/LottieToWinComp/LottieToWinCompTranslator.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Fix build break caused by bad merge.
  source/LottieData/Serialization/LottieCompositionYamlSerializer.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Make our simple implementations of Equals more consistent across types. (#237)
  source/LottieData/Color.cs
  source/LottieData/HoldEasing.cs
  source/LottieData/Opacity.cs
  source/LottieData/Sequence.cs
  source/LottieData/Vector2.cs
  source/LottieData/Vector3.cs
  source/LottieToWinComp/LottieToWinCompTranslator.cs
  source/WinCompData/Expressions/Expression.cs
  source/WinCompData/Wui/Color.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Use nameof to keep Yaml field names in sync with Lottie data property names (#231)
  source/LottieData/Serialization/LottieCompositionYamlSerializer.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Fix build break.
  source/LottieData/Serialization/LottieCompositionYamlSerializer.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

CR feedback.
  source/LottieData/Trim.cs
  source/LottieReader/Serialization/LottieCompositionReader.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms
