Repository CommunityToolkit/Lottie-Windows, changes with the owners that .github/CODEOWNERS names for each.
All owners: @eliezerpMS, @simeoncran, @sohchatt, @scott-moore-ms

More support for property bindings.
  LottieGen/LottieFileProcessor.cs
  source/Lottie/Instantiator.cs
  source/Lottie/LottieVisualSource.cs
  source/LottieToWinComp/LottieToMultiVersionWinCompTranslator.cs
  source/LottieToWinComp/LottieToWinCompTranslator.cs
  source/UIData/Tools/Optimizer.cs
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
  source/WinCompData/CompositionGetValueStatus.cs
  source/WinCompData/CompositionPropertySet.cs
  source/WinCompData/Serialization/CompositionObjectXmlSerializer.cs
  source/WinCompData/WinCompData.projitems
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms, @sohchatt

Show the timestamp from LottieGen.dll in LottieGenCorpus
  tests/LottieGenCorpus.ps1
Owners: @eliezerpMS, @simeoncran, @sohchatt, @scott-moore-ms

CR feedback.
  source/WinCompData/CompositionGetValueStatus.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

More support for property bindings. (#200)
  LottieGen/LottieFileProcessor.cs
  source/Lottie/Instantiator.cs
  source/Lottie/LottieVisualSource.cs
  source/LottieToWinComp/LottieToMultiVersionWinCompTranslator.cs
  source/LottieToWinComp/LottieToWinCompTranslator.cs
  source/UIData/Tools/Optimizer.cs
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
  source/WinCompData/CompositionGetValueStatus.cs
  source/WinCompData/CompositionPropertySet.cs
  source/WinCompData/Serialization/CompositionObjectXmlSerializer.cs
  source/WinCompData/WinCompData.projitems
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms, @sohchatt

CompositionColorBrush enhancements.
  source/LottieToWinComp/CompositionObjectFactory.cs
  source/LottieToWinComp/ExpressionFactory.cs
  source/LottieToWinComp/LottieToWinCompTranslator.cs
  source/UIData/Tools/Canonicalizer.cs
  source/UIData/Tools/Optimizer.cs
  source/UIData/Tools/TreeReducer.cs
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
  source/UIDataCodeGen/CodeGen/NodeNamer.cs
  source/WinCompData/CompositionColorBrush.cs
  source/WinCompData/Compositor.cs
  source/WinCompData/Expressions/Expression.cs
  source/WinCompData/Serialization/CompositionObjectXmlSerializer.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Fix build break.
  source/Lottie/Instantiator.cs
  source/WinCompData/CompositionColorBrush.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Show the timestamp from LottieGen.dll in LottieGenCorpus (#201)
  tests/LottieGenCorpus.ps1
Owners: @eliezerpMS, @simeoncran, @sohchatt, @scott-moore-ms

CompositionColorBrush enhancements. (#202)
  source/Lottie/Instantiator.cs
  source/LottieToWinComp/CompositionObjectFactory.cs
  source/LottieToWinComp/ExpressionFactory.cs
  source/LottieToWinComp/LottieToWinCompTranslator.cs
  source/UIData/Tools/Canonicalizer.cs
  source/UIData/Tools/Optimizer.cs
  source/UIData/Tools/TreeReducer.cs
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
  source/UIDataCodeGen/CodeGen/NodeNamer.cs
  source/WinCompData/CompositionColorBrush.cs
  source/WinCompData/Compositor.cs
  source/WinCompData/Expressions/Expression.cs
  source/WinCompData/Serialization/CompositionObjectXmlSerializer.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Enable binding of SolidColorFill to property set values.
  source/LottieToWinComp/ExpressionFactory.cs
  source/LottieToWinComp/LottieToWinCompTranslator.cs
  source/UIData/Tools/Optimizer.cs
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
  source/UIDataCodeGen/CodeGen/NodeNamer.cs
  source/WinCompData/CompositionObject.cs
  source/WinCompData/CompositionPath.cs
  source/WinCompData/CompositionPropertySet.cs
  source/WinCompData/Expressions/ColorRGB.cs
  source/WinCompData/Expressions/Expression.cs
  source/WinCompData/Expressions/ScalarSubchannel.cs
  source/WinCompData/Expressions/Vector2.cs
  source/WinCompData/Expressions/Vector4.cs
  source/WinCompData/IDescribable.cs
  source/WinCompData/Mgcg/CanvasGeometry.cs
  source/WinCompData/Serialization/CompositionObjectXmlSerializer.cs
  source/WinCompData/WinCompData.projitems
  source/WinUIXamlMediaData/LoadedImageSurface.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms, @sohchatt

CR feedback.
  source/LottieToWinComp/LottieToWinCompTranslator.cs
  source/WinCompData/Expressions/ColorRGB.cs
  source/WinCompData/Expressions/LessThan.cs
  source/WinCompData/Expressions/Max.cs
  source/WinCompData/Expressions/Min.cs
  source/WinCompData/Expressions/Vector2.cs
  source/WinCompData/Expressions/Vector3.cs
  source/WinCompData/Expressions/Vector4.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Enable binding of SolidColorFill to property set values. (#203)
  source/LottieToWinComp/ExpressionFactory.cs
  source/LottieToWinComp/LottieToWinCompTranslator.cs
  source/UIData/Tools/Optimizer.cs
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
  source/UIDataCodeGen/CodeGen/NodeNamer.cs
  source/WinCompData/CompositionObject.cs
  source/WinCompData/CompositionPath.cs
  source/WinCompData/CompositionPropertySet.cs
  source/WinCompData/Expressions/ColorRGB.cs
  source/WinCompData/Expressions/Expression.cs
  source/WinCompData/Expressions/LessThan.cs
  source/WinCompData/Expressions/Max.cs
  source/WinCompData/Expressions/Min.cs
  source/WinCompData/Expressions/ScalarSubchannel.cs
  source/WinCompData/Expressions/Vector2.cs
  source/WinCompData/Expressions/Vector4.cs
  source/WinCompData/IDescribable.cs
  source/WinCompData/Mgcg/CanvasGeometry.cs
  source/WinCompData/Serialization/CompositionObjectXmlSerializer.cs
  source/WinCompData/WinCompData.projitems
  source/WinUIXamlMediaData/LoadedImageSurface.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms, @sohchatt

Add property binding support to strokes.
  source/LottieToWinComp/LottieToWinCompTranslator.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Add property binding support to strokes. (#204)
  source/LottieToWinComp/LottieToWinCompTranslator.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Add comments to generated code for markers, bound properties, and other metadata.
  Lottie-Windows.sln
  Lottie-Windows/Lottie-Windows.csproj
  LottieGen/LottieGen.csproj
  LottieGen/LottieGen.sln
  LottieViewer/LottieViewer.csproj
  dlls/LottieMetadata/LottieMetadata.dll.csproj
  dlls/LottieToWinComp/LottieToWinComp.dll.csproj
  source/Lottie/LottieVisualDiagnostics.cs
  source/Lottie/LottieVisualSource.cs
  source/LottieData/Marker.cs
  source/LottieData/Serialization/LottieCompositionXmlSerializer.cs
  source/LottieData/Serialization/LottieCompositionYamlSerializer.cs
  source/LottieMetadata/LottieCompositionMetadata.cs
  source/LottieMetadata/LottieMetadata.projitems
  source/LottieMetadata/LottieMetadata.shproj
  source/LottieReader/Serialization/LottieCompositionReader.cs
  source/LottieToWinComp/LottieToWinCompTranslator.cs
  source/LottieToWinComp/TranslationResult.cs
  source/UIDataCodeGen/CodeGen/CSharpInstantiatorGenerator.cs
  source/UIDataCodeGen/CodeGen/CxInstantiatorGenerator.cs
  source/UIDataCodeGen/CodeGen/IAnimatedVisualSourceInfo.cs
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
  source/UIDataCodeGen/CodeGen/LottieMetadataDecoder.cs
  source/UIDataCodeGen/UIDataCodeGen.projitems
  source/WinCompData/Expressions/Expression.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms, @sohchatt

CR feedback.
  source/Lottie/LottieVisualSource.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

CR feedback.
  source/Lottie/LottieVisualSource.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Tiny change to try and tickle the build system.
  source/Lottie/LottieVisualSource.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Fix build break.
  dlls/UIDataCodeGen/UIDataCodeGen.dll.csproj
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Add metadata comments to generated code: markers, bound properties, et al (#206)
  Lottie-Windows.sln
  Lottie-Windows/Lottie-Windows.csproj
  LottieGen/LottieGen.csproj
  LottieGen/LottieGen.sln
  LottieViewer/LottieViewer.csproj
  dlls/LottieMetadata/LottieMetadata.dll.csproj
  dlls/LottieToWinComp/LottieToWinComp.dll.csproj
  dlls/UIDataCodeGen/UIDataCodeGen.dll.csproj
  source/Lottie/LottieVisualDiagnostics.cs
  source/Lottie/LottieVisualSource.cs
  source/LottieData/Marker.cs
  source/LottieData/Serialization/LottieCompositionXmlSerializer.cs
  source/LottieData/Serialization/LottieCompositionYamlSerializer.cs
  source/LottieMetadata/LottieCompositionMetadata.cs
  source/LottieMetadata/LottieMetadata.projitems
  source/LottieMetadata/LottieMetadata.shproj
  source/LottieReader/Serialization/LottieCompositionReader.cs
  source/LottieToWinComp/LottieToWinCompTranslator.cs
  source/LottieToWinComp/TranslationResult.cs
  source/UIDataCodeGen/CodeGen/CSharpInstantiatorGenerator.cs
  source/UIDataCodeGen/CodeGen/CxInstantiatorGenerator.cs
  source/UIDataCodeGen/CodeGen/IAnimatedVisualSourceInfo.cs
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
  source/UIDataCodeGen/CodeGen/LottieMetadataDecoder.cs
  source/UIDataCodeGen/UIDataCodeGen.projitems
  source/WinCompData/Expressions/Expression.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms, @sohchatt

Vector4 didn't support simplification. Now it does.
  source/WinCompData/Expressions/Expression.cs
  source/WinCompData/Expressions/ScalarSubchannel.cs
  source/WinCompData/Expressions/Vector2.cs
  source/WinCompData/Expressions/Vector3.cs
  source/WinCompData/Expressions/Vector4.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Refactoring and clean up that does not change the output.
  source/Lottie/Instantiator.cs
  source/LottieToWinComp/CompositionObjectFactory.cs
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
  source/UIDataCodeGen/CodeGen/NodeNamer.cs
  source/WinCompData/CompositionColorGradientStop.cs
  source/WinCompData/Compositor.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

CR feedback.
  source/WinCompData/Expressions/ScalarSubchannel.cs
  source/WinCompData/Expressions/Vector3.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Fix bug found in testing.
  source/UIDataCodeGen/CodeGen/NodeNamer.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

CR feedback.
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

CR feedback, and switch UIDataCodeGen.dll to .NET Core 3.0 because it now uses C# 8.
  dlls/UIDataCodeGen/UIDataCodeGen.dll.csproj
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

More consistent naming for factories.
  source/UIDataCodeGen/CodeGen/NodeNamer.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Fix build break caused by .NET Core 3.x being on build machines.
  azure-pipelines.yml
  dlls/UIDataCodeGen/UIDataCodeGen.dll.csproj
Owners: @eliezerpMS, @simeoncran, @sohchatt, @scott-moore-ms

Build break: needed a different version string for dotnetcore.
  azure-pipelines.yml
Owners: @eliezerpMS, @simeoncran, @sohchatt, @scott-moore-ms

2nd attempt at installing newer dotnetcore.
  azure-pipelines.yml
Owners: @eliezerpMS, @simeoncran, @sohchatt, @scott-moore-ms

Build break fixes.
  dlls/GenericData/GenericData.dll.csproj
  dlls/LottieData/LottieData.dll.csproj
  dlls/LottieMetadata/LottieMetadata.dll.csproj
  dlls/LottieReader/LottieReader.dll.csproj
  dlls/UIData/UIData.dll.csproj
  dlls/WinCompData/WinCompData.dll.csproj
  dlls/WinStorageStreamsData/WinStorageStreamsData.dll.csproj
  dlls/WinUIXamlMediaData/WinUIXamlMediaData.dll.csproj
  dlls/YamlData/YamlData.dll.csproj
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Build break.
  Lottie-Windows.sln
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Build break.
  Lottie-Windows.sln
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Build break.
  azure-pipelines.yml
Owners: @eliezerpMS, @simeoncran, @sohchatt, @scott-moore-ms

Build tweaking.
  azure-pipelines.yml
  build/build.cake
  build/build.ps1
Owners: @eliezerpMS, @simeoncran, @sohchatt, @scott-moore-ms

More consistent naming for factories. (#210)
  source/UIDataCodeGen/CodeGen/NodeNamer.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Vector4 didn't support simplification. Now it does. (#208)
  source/WinCompData/Expressions/Expression.cs
  source/WinCompData/Expressions/ScalarSubchannel.cs
  source/WinCompData/Expressions/Vector2.cs
  source/WinCompData/Expressions/Vector3.cs
  source/WinCompData/Expressions/Vector4.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

Refactoring and clean up that does not change the output. (#209)
  Lottie-Windows.sln
  azure-pipelines.yml
  build/build.cake
  build/build.ps1
  dlls/GenericData/GenericData.dll.csproj
  dlls/LottieData/LottieData.dll.csproj
  dlls/LottieMetadata/LottieMetadata.dll.csproj
  dlls/LottieReader/LottieReader.dll.csproj
  dlls/UIData/UIData.dll.csproj
  dlls/UIDataCodeGen/UIDataCodeGen.dll.csproj
  dlls/WinCompData/WinCompData.dll.csproj
  dlls/WinStorageStreamsData/WinStorageStreamsData.dll.csproj
  dlls/WinUIXamlMediaData/WinUIXamlMediaData.dll.csproj
  dlls/YamlData/YamlData.dll.csproj
  source/Lottie/Instantiator.cs
  source/LottieToWinComp/CompositionObjectFactory.cs
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
  source/UIDataCodeGen/CodeGen/NodeNamer.cs
  source/WinCompData/CompositionColorGradientStop.cs
  source/WinCompData/Compositor.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms, @sohchatt

Improve NodeNamer readability.
  LottieGen/LottieGen.csproj
  LottieGen/README.md
  source/UIDataCodeGen/CodeGen/NodeNamer.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms, @sohchatt

Fix typo found in CR.
  LottieGen/README.md
Owners: @sohchatt, @eliezerpMS, @simeoncran, @scott-moore-ms

Make CompositionPath names start at 0.
  source/UIDataCodeGen/CodeGen/InstantiatorGeneratorBase.cs
Owners: @eliezerpMS, @simeoncran, @scott-moore-ms

.github/CODEOWNERS:

# The last matching pattern takes the most precedence.

# Default owners for everything in the repo, unless a later
# match takes precedence.
*       @eliezerpMS @simeoncran @sohchatt @scott-moore-ms

# File types
*.cs    @eliezerpMS @simeoncran @scott-moore-ms
*proj   @eliezerpMS @simeoncran @scott-moore-ms
*sln    @eliezerpMS @simeoncran @scott-moore-ms
*.md    @sohchatt @eliezerpMS @simeoncran @scott-moore-ms

# Directories
/build/ @eliezerpMS @simeoncran @scott-moore-ms
